.itemPr {
    width: 290px;
    height: 650px;
    border: rgba(20, 16, 16, 0.432) solid;
    margin-left: 10%;
    background-color: white;
    margin-bottom: 20px;
}
.imgPr{
    width: 150px;
    height: 250px;
    border-radius: 0%;
}
.btnD{
    font-size: 150%;
    margin: 30px 0px 30px 40px;
}
