.btn{
    width: 120px;
    height: 40px;
    font-size: 10px;
    margin-left: 3px;
    margin-bottom: 10px;
}
.counters{
    display: flex;
    flex-direction: row;
}
.counter{
    text-align: center;
    width: 200px;
}

